include templates/layout
include templates/bricks

mixin crud-error()
	a(href=link('main')) [Go to list]

mixin crud-list()
	if data.length==0
		p strong No results
	hr
	each doc, key in data
		pre=util.format(doc)
		a(href=link('update',doc._id)) [Edit this element]
		a(href=link('api-get',doc._id)) [API-GET this element]
		hr
	a(href=link('insert')) [Insert new element]

mixin crud-update
	form(method='POST', action=link('update',data._id))
		fieldset
			legend=model.title
			p.details=model.details
			+fieldset(model,data)
			.buttons
				input(type='submit', value='Save')
				input(type='submit', value='Delete', formaction=link('remove',data._id))
				a(href=link('api-get',data._id)) [API-GET this element]
				a(href=link('main')) [Go to list]
				a(href=link('insert')) [Insert new element]

mixin crud-insert
	form(method='POST', action=link('insert',data._id))
		fieldset
			legend=model.title
			p.details=model.details
			+fieldset(model,data)
			.buttons
				input(type='submit', value='Save')
				a(href=link('main')) [Go to list]

mixin crud-inserted
	a(href=link('update',data._id)) [Edit inserted element]
	a(href=link('api-get',data._id)) [API-GET inserted element]
	a(href=link('main')) [Go to list]
	a(href=link('insert')) [Insert new element]

mixin crud-removed
	a(href=link('main')) [Go to list]
	a(href=link('insert')) [Insert new element]

doctype html
+layout
	+#{template}