include templates/layout
include templates/bricks

mixin crud-error()
	a(href=link('main')) [Go to list]

mixin crud-list()
	if data.length==0
		p strong No results
	hr
	each doc, key in data
		pre=util.format(doc)
		a(href=link('update',doc._id)) [Edit this element]
		a(href=link('api-get',doc._id)) [API-GET this element]
		hr
	a(href=link('insert')) [Insert new element]

mixin crud-update
	form(id="crudUpdateForm", ng-submit="sendForm('POST','"+link('api-update',data._id)+"',false)", name="crudUpdateForm", ng-controller="crudUpdate")
		div(ng-show="sending>0",class="ng-hide form-progressbar")
			.progress.progress-striped.active
				.progress-bar(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: {{sending}}%")
					span.sr-only Guardando... {{sending}}%
		fieldset
			- locals.depth = 0;
			- locals.headings = 3;
			legend
				#{'h'+(locals.depth+locals.headings)}.text-primary=model.title
					small=' '+model.details

			+fieldset(model,data)

	nav(class="navbar navbar-default navbar-fixed-bottom", role="navigation")
		.container-fluid
			.navbar-header
				button(type="button", class="navbar-toggle", data-toggle="collapse" data-target="#navbar-update")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand", href="#") Pillars
			div(id="navbar-update" class="collapse navbar-collapse")
				ul.nav.navbar-nav
					button(form="crudUpdateForm", type='submit', class="btn btn-primary navbar-btn") Save
				form(class="navbar-form navbar-left", role="search")
					.form-group
						input(type="text", class="form-control", placeholder="Search")
						button(type="submit", class="btn btn-default") Submit
				ul.nav.navbar-nav
					li: a(href=link('main')) Go to list
					li: a(href=link('insert')) insert new
					li: a(href=link('api-get',data._id)) api-get this element
				ul.nav.navbar-nav.navbar-right
					button(class="btn btn-danger navbar-btn", type='button', onclick="window.location.href='"+link('remove',data._id)+"'") Delete

mixin crud-insert
	form(method='POST', action=link('insert',data._id))
		fieldset
			legend=model.title
			p.details=model.details
			+fieldset(model,data)
			.buttons
				input(type='submit', value='Save')
				a(href=link('main')) [Go to list]

mixin crud-inserted
	a(href=link('update',data._id)) [Edit inserted element]
	a(href=link('api-get',data._id)) [API-GET inserted element]
	a(href=link('main')) [Go to list]
	a(href=link('insert')) [Insert new element]

mixin crud-removed
	a(href=link('main')) [Go to list]
	a(href=link('insert')) [Insert new element]

doctype html
+layout
	//script(type="text/ng-template", id=template+".html")
	+#{template}





