include templates/layout
include templates/bricks

mixin crud-error()
	a(href=link('main')) [Go to list]

mixin crud-list
	table(class="table table-striped")
		thead
			tr
				each header in schema.headers
					th=header.label
				th

		tbody
			tr(ng-repeat="record in data.list")
				each header in schema.headers
					td="{{record."+header.id+"}}"
				td
					a(href="#/edit/{{record._id}}",class="btn btn-primary", role="button")
						span(class="glyphicon glyphicon-pencil")
						|  Edit
					button(class="btn btn-danger navbar-btn", type='button', ng-click="removeElement(record._id)")
						span(class="glyphicon glyphicon-remove")
						|  Delete
	button(class="btn btn-info navbar-btn", type='button', ng-click="more()")
		span(class="glyphicon glyphicon-forward")
		|  More...

mixin crud-editor
	+fieldset(schema)

mixin navbar
	nav(class="navbar navbar-default navbar-fixed-bottom", role="navigation")
		.container-fluid
			.navbar-header
				button(type="button", class="navbar-toggle", data-toggle="collapse" data-target="#navbar-update")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand", href="") Pillars
			div(id="navbar-update" class="collapse navbar-collapse")
				ul.nav.navbar-nav
					button(ng-if="navsave", form="activeForm", type='submit', class="btn btn-primary navbar-btn") Save
				form(class="navbar-form navbar-left", role="search")
					.form-group
						input(type="text", class="form-control", placeholder="Search")
						button(type="submit", class="btn btn-default") Submit
				ul.nav.navbar-nav
					li: a(href="#/") 
						span(class="glyphicon glyphicon-list")
						|  List
					li: a(href="#/new") 
						span(class="glyphicon glyphicon-plus")
						|  New
				ul.nav.navbar-nav.navbar-right
					li.dropdown
							button(type="button", class="btn btn-info navbar-btn dropdown-toggle", data-toggle="dropdown") Languages {{languages.active}} 
								span(class="caret")
								span(class="sr-only") Toggle Dropdown
							ul(class="dropdown-menu", role="menu")
								li(ng-repeat="lang in languages.list", ng-class="{active:languages.active==lang}")
									a(ng-click="languages.active=lang",href="") {{lang}}
					|&nbsp;
					button(ng-if="navsave", class="btn btn-danger navbar-btn", type='button', ng-click="removeElement()")
						span(class="glyphicon glyphicon-remove")
						|  Delete

mixin notifier
	ul(class="notifier list-unstyled ng-hide", ng-show="msgs")
		li(ng-repeat="msg in msgs")
			div(class="alert alert-{{msg.lvl}}")
				strong {{msg.msg}}
				|  {{msg.details}}

mixin trace(trace)
	if trace
		.trace
			hr
			pre=trace

doctype html
html(lang="es",ng-app="Pillars")
	head
		title=title
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/pillars.css')
		//link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')

	body
		#space.container
			header#header
				h1=h1
				div(ng-show="loading",class="ng-hide form-progressbar")
					div(class="progress progress-striped active ng-hide", ng-show="sending>0")
						.progress-bar.progress-bar-info(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: {{sending}}%")
							span.sr-only Sending... {{sending}}%
					div(class="progress progress-striped active ng-hide", ng-show="receiving>0")
						.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: {{receiving}}%")
							span.sr-only Receiving... {{receiving}}%
				+notifier

			#page
				script(type="text/ng-template", id="crud-list.html")
					+crud-list
				script(type="text/ng-template", id="crud-editor.html")
					+crud-editor
				div(ng-view)
				+navbar
				+trace(trace)
			footer#footer
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-route.min.js')
		//script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-animate.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
		script(src='/js/pillars.js')


	




