include templates/layout
include templates/bricks

mixin crud-error()
	a(href=link('main')) [Go to list]

mixin crud-list()
	if data.length==0
		p strong No results
	hr
	each doc, key in data
		pre=util.format(doc)
		a(href=link('update',doc._id)) [Edit this element]
		a(href=link('api-get',doc._id)) [API-GET this element]
		hr
	a(href=link('insert')) [Insert new element]

mixin crud-update
	form(method='POST', action=link('update',data._id))
		fieldset
			- locals.depth = 0;
			- locals.headings = 3;
			legend
				#{'h'+(locals.depth+locals.headings)}.text-primary=model.title
					small=' '+model.details
			+fieldset(model,data)
			div(style="background-color: #F7F7F7;border-top: 1px solid #BFBFBF;bottom: 0;box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);height: 80px;left: 0;padding: 10px 20px;position: fixed;width: 100%;")
				style.
					body{padding-bottom: 150px;}
				input(class='btn btn-primary', type='submit', value='Save')
				input(class='btn btn-danger', type='submit', value='Delete', formaction=link('remove',data._id))
				+buttonlink('api-get this element', link('api-get',data._id))
				+buttonlink('Go to list', link('main'))
				+buttonlink('Insert new element', link('insert'))

mixin crud-insert
	form(method='POST', action=link('insert',data._id))
		fieldset
			legend=model.title
			p.details=model.details
			+fieldset(model,data)
			.buttons
				input(type='submit', value='Save')
				a(href=link('main')) [Go to list]

mixin crud-inserted
	a(href=link('update',data._id)) [Edit inserted element]
	a(href=link('api-get',data._id)) [API-GET inserted element]
	a(href=link('main')) [Go to list]
	a(href=link('insert')) [Insert new element]

mixin crud-removed
	a(href=link('main')) [Go to list]
	a(href=link('insert')) [Insert new element]

doctype html
+layout
	+#{template}