
mixin buttonlink(value,link)
	input(class='btn btn-default', type='button', value=value, onclick="window.location.href='"+link+"'")

mixin fieldset(fieldset)
	div(class="form-horizontal")
		each field in fieldset.fields
			- var tree = ['data'];
			if field.template=='subset' || field.template=='list' 
				+#{field.template}(field,tree)
			else
				+field(field,tree)

mixin subset(subset,tree)
	- locals.depth++;
	- tree.push('.'+subset.id);
	fieldset.pillar-subset
		legend
			#{'h'+(locals.depth+locals.headings)}.text-primary=subset.label
				small=' '+subset.details
		each field in subset.fields
			+field(field,tree)
	- locals.depth--;

mixin list(list,tree)
	- locals.depth++;
	- tree.push('.'+list.id);
	.form-group
		label(class="control-label col-sm-2")=list.label
		div(class="list-container container col-sm-10")
			p(class="help-block")=list.details
			fieldset(ng-repeat="(klf"+locals.depth+", lf) in "+tree.join(''))
				legend
					#{'h'+(locals.depth+locals.headings)}.text-primary
						= list.items.label
						small=' '+list.items.details
				each field in list.fields
					+field(field,tree.concat(["[klf"+locals.depth+"]"]))
			
			input(class='btn btn-primary', type='button', value='Add',ng-click="addListItem("+tree.slice(0,-1).join('')+",'"+list.id+"')")

	- locals.depth--;

mixin field(field,tree)
	- tree.push('.'+field.id);
	- var id = tree.join('');
	div(class="form-group", ng-class="{'has-error':validations['"+tree.join('')+"']}")
		label(class="control-label col-sm-2",for=id)=field.label
			if field.i18n
				ul.nav.nav-pills
					each lang in gw.textualization.langs
						li.active: a(href="#")=lang

		div(class="col-sm-10")
			if field.i18n
				+field-i18n(field,tree)
			else
				+#{field.template}(field,tree)
			p.help-block=field.details

mixin field-i18n(field,tree)
	.pillar-langfields
		each lang in gw.textualization.langs
			- var classes = [];
			- classes.push('lang-'+lang);
			- if(gw.language==lang){classes.push('lang-active');}
			- if(gw.textualization.langs[0]==lang){classes.push('lang-default');}
			+#{field.template}(field,tree.concat(['.'+lang]),classes)

mixin field-validation(tree)
	- var treeparts = tree;
	- for(i in treeparts)
		- treeparts[i] = treeparts[i].replace(/^\[/i,".'+").replace(/\]$/i,"+'")
	- var name = treeparts.join('');
	div(class="alert alert-danger ng-hide",ng-show="validations['"+name+"']")
		ul(class="list-unstyled")
			li(ng-repeat="msg in validations['"+name+"']") {{msg}}

mixin text(field,tree,classes)
	- var id = tree.join('');
	//- var name = tree.slice(0,1)+'['+tree.slice(1).join('][')+']';
	- var name = tree.slice(0,1);
	- var treeparts = tree.slice(1);
	- for(i in treeparts)
		- treeparts[i] = treeparts[i].replace(/^\./i,'').replace(/^\[/i,'{{').replace(/\]$/i,'}}')
	- name = name+'['+treeparts.join('][')+']';
	- var value = tree.join('');
	+field-validation(tree)
	input(type='text', class=classes, class=['form-control','field-text'], id=id, name=name, ng-model=value)

mixin textarea(field,tree,classes)
	- var id = tree.join('');
	- var name = tree.slice(0,1);
	- var treeparts = tree.slice(1);
	- for(i in treeparts)
		- treeparts[i] = treeparts[i].replace(/^\./i,'').replace(/^\[/i,'{{').replace(/^\]/i,'}}')
	- name = name+'['+treeparts.join('][')+']';
	- var value = tree.join('');
	+field-validation(tree)
	textarea(class=classes, class=['form-control','field-textarea'], id=id, name=name, ng-model=value)

