
mixin buttonlink(value,link)
	input(class='btn btn-default', type='button', value=value, onclick="window.location.href='"+link+"'")

mixin fieldset(fieldset,data)
	.form-horizontal
		each field,fkey in fieldset.fields
			- fname = fieldset.id+"["+fkey+"]";
			- fid = fieldIdr(fname);
			- fdata = data[fkey] || "";
			if field.template=='subset' || field.template=='list' 
				+#{field.template}(field,fname,fid,fdata)
			else
				+field(field,fname,fid,fdata)

mixin subset(field,name,id,data)
	fieldset.pillar-subset
		- locals.depth++;
		legend
			#{'h'+(locals.depth+locals.headings)}.text-primary=field.label
				small=' '+field.details
		each sfield,fkey in field.fields
			- var fname = name+"["+fkey+"]";
			- var fid = fieldIdr(fname);
			- var fdata = data[fkey] || "";
			+field(sfield,fname,fid,fdata)
		- locals.depth--;

mixin list(field,name,id,data)
	.form-group
		- locals.depth++;
		label(class="control-label col-sm-2",for=fieldid)=field.label
		div(class="container col-sm-10",style="background-color: #F7F7F7;border-radius: 20px;padding: 20px 25px;")
			p(class="help-block")=field.details
			- counter = 0;
			each li,likey in data
				if likey!='radio' && likey!='check'
					- if(!data[likey]){data[likey]={};}
					- var fdata = data[likey] || "";
					+list-item(field,name,id,fdata,data['radio'],data['check'],counter)
					- counter++;

			+list-item(field,name,id,'',data['radio'],data['check'],counter,true)
			- locals.depth--;

mixin list-item-buttons(field,name,radio,check,counter)
	- var fname = name+"[radio]";
	- var fid = fieldIdr(fname);
	- var checked = false;
	- if(radio==counter){var checked=true;}
	input(type='radio', class=['pillar-list-radio','pillar-input-radio'], id=fid, name=fname, value=counter,checked=checked)

mixin list-item(field,name,id,data,radio,check,counter,insert)
	fieldset(class='pillar-list-item',disabled=insert)
		if !insert
			legend
				#{'h'+(locals.depth+locals.headings)}.text-primary
					+list-item-buttons(field,name,radio,check,counter)
					= field.items.label
					small=' '+field.items.details
		else
			legend
				#{'h'+(locals.depth+locals.headings)}.text-primary
					= field.items.label
					small=' '+field.items.details

		each sfield,fkey in field.fields
			- var fname = name+"["+counter+"]"+"["+fkey+"]";
			- var fid = fieldIdr(fname);
			- var fdata = data[fkey] || "";
			+field(sfield,fname,fid,fdata)

mixin field(field,name,id,data)
	.form-group
		label(class="control-label col-sm-2",for=fieldid)=field.label
		div(class="col-sm-10")
			if field.i18n
				+field-i18n(field,name,id,data)
			else
				+#{field.template}(field,name,id,data)
			p.help-block=field.details

mixin field-i18n(field,name,id,data)
	.pillar-langfields
		each lang in gw.textualization.langs
			- var fname = name+'['+lang+']';
			- var fid = fieldIdr(fname);
			- var fdata = data[lang] || "";
			- var classes = [];
			- classes.push('lang-'+lang);
			- if(gw.language==lang){classes.push('lang-active');}
			- if(gw.textualization.langs[0]==lang){classes.push('lang-default');}
			+#{field.template}(field,fname,fid,fdata,classes)

mixin text(field,name,id,data,classes)
	input(type='text', class=classes, class=['form-control','field-text'], id=id, name=name, value=data)

mixin textarea(field,name,id,data,classes)
	textarea(class=classes, class=['form-control','field-textarea'], id=id, name=name)=data


