include ./examples.jade

mixin field(field)
	- var fullwidth = (field.template=='subset' || field.template=='subsetlist')?" fullwidth":"";
	div(class="field"+fullwidth, datapath=field.id, ng-class="{danger:status.$invalid,ok:status.$valid && status.$dirty }")
		label
			span= i18n("schemas."+field.schema.id+".fields."+field.path+".label")
			if field.i18n
				div(class="dropdown-toggle-hover i18n-selector")
					button(type="button") {{env.lang}} 
					ul(class="dropdown dropdown-right menu ")
						li(ng-repeat="lang in env.langlist", ng-class="{active:env.lang==lang}")
							.menu-item(ng-click="env.lang=lang") {{lang}}

		.input
			p.help= i18n("schemas."+field.schema.id+".fields."+field.path+".details",{_default:""})
			if field.i18n
				each lang in gw.textualization.langs
					div(class="lang",ng-hide="env.lang!='"+lang+"'", datapath=lang)
						+field-validation(field)
						+#{field.template}(field)
			else
				+field-validation(field)
				+#{field.template}(field)
				
mixin field-validation(field)
	//div {{status}}
	//pre=util.format({keys:field.keys,coedition:field.coedition})
	//em {{datapath}}
	//div {{lastform[datapathName]}}
	//div {{datapathValue}}
	//.input-msgs
		//.msg.bg-alert Cuidado!

mixin subset(field)
	div(class="subset",subset)
		fieldset
			each sfield in field.fields
				+field(sfield)

mixin subsetlist(field)
	div(class="subsetlist",subsetlist)
		button(ng-click="insertSubset()") Insertar
		fieldset(ng-repeat="(datapathKey,datapathRepeater) in datapathValue", datapath='{{datapathKey}}',ng-form, ng-class="{danger:status.$invalid,ok:status.$valid && status.$dirty }")
			input(type="text", class="ng-hide", datapath="_id", datapath-id, datapath-name, idfield, ng-model="datapathValue")
			input(type="text", class="ng-hide", datapath="_order", datapath-id, datapath-name, ng-model="datapathValue")
			each sfield in field.fields
				+field(sfield)

			.controls
				button(type="button", ng-click="removeSubset($index)", class="remove")
					span(class="fa fa-times")
					| Eliminar
				.select.sort
					select(datapath="_order", datapath-id, datapath-name, ng-model="datapathValue", ng-change="moveSubset($index)",ng-options="ore._order as ore._order*1+1 for (ork, ore) in $parent.$parent.datapathValue",ng-class="{danger:status.$invalid,ok:status.$valid && status.$dirty }")
					span.select-focus

mixin text(field)
	input(type='text', datapath-id, datapath-name, ng-model="datapathValue")

mixin file(field)
	input(type='file', datapath-id, datapath-name)

mixin fileimg(field)
	imagepicker(datapath-id, datapath-name, ng-model="datapathValue")

mixin textarea(field)
	textarea(datapath-id, datapath-name, ng-model="datapathValue")

mixin editor(field)
	div {{datapath}}
	div(id="{{datapathId}}_toolbar",class="editor_toolbar", style="display: none;")
		a(data-wysihtml5-command="bold")= i18n("crud.bricks.editor.bold")
		a(data-wysihtml5-command="italic")= i18n("crud.bricks.editor.italic")
		a(data-wysihtml5-command="foreColor", data-wysihtml5-command-value="red")= i18n("crud.bricks.editor.red")
		a(data-wysihtml5-command="foreColor", data-wysihtml5-command-value="green")= i18n("crud.bricks.editor.green")
		a(data-wysihtml5-command="foreColor", data-wysihtml5-command-value="blue")= i18n("crud.bricks.editor.blue")
		a(data-wysihtml5-command="createLink")= i18n("crud.bricks.editor.link")
		div(data-wysihtml5-dialog="createLink", style="display: none;")
			label= i18n("crud.bricks.editor.link")+":"
				input(data-wysihtml5-dialog-field="href", value="http://", class="text")
			a(data-wysihtml5-dialog-action="save")= i18n("crud.bricks.editor.insert")
			a(data-wysihtml5-dialog-action="cancel")= i18n("crud.bricks.editor.cancel")
	textarea(datapath-id, datapath-name, ng-model="datapathValue", html-editor="true")

mixin select(field)
	.select
		select(datapath-id, datapath-name, ng-model="datapathValue")
			each option in field.values
				option(value=option)=i18n("schemas."+field.schema.id+".fields."+field.path+".values."+option)
		span.select-focus

mixin checkbox(field)
	.checkbox.hidden-label
		input(type='checkbox', datapath-id, datapath-name, ng-model="datapathValue", ng-true-value='true', ng-false-value='false')
		label

mixin checkboxes(field)
	div(class="checkboxes", ng-form)
		each option in field.values
			.checkbox(datapath=option, ng-class="{danger:status.$invalid,ok:status.$valid && status.$dirty }")
				input(type='checkbox', datapath-id, datapath-name, ng-model="datapathValue", ng-true-value='true', ng-false-value='false')
				label=i18n("schemas."+field.schema.id+".fields."+field.path+".values."+option)

mixin radios(field)
	div(class="radios", ng-form, field-form)
		each option in field.values
			.radio
				input(type='radio', ng-model="datapathValue", value=option)
				label=i18n("schemas."+field.schema.id+".fields."+field.path+".values."+option)

mixin time(field)
	input(type="text", datapath-id, datapath-name, ng-model="datapathValue", class="-ng-hide")
	datepicker(linkid="{{datapathId}}",ng-model="datapathValue")

mixin reference(field)
	input(type="text", datapath-id, datapath-name, ng-model="datapathValue", class="-ng-hide")
	reference(linkid="{{datapathId}}",ng-model="datapathValue")





mixin crudListActions
	form(class="form-inline", ng-controller="crudListActions")
		.field
			.input
				.inputaddons
					.addon
						label
							span(class="fa fa-search") 
					input(type="text",ng-change="showList()", ng-model="crudListLoader.filter", placeholder=i18n("crud.actions.search"))
					.addon.dropdown-toggle-hover
						button(type="button")
							span(class="fa fa-gear")
						ul(class="dropdown dropdown-right menu")
							each header, i in schema.headers
								li
									.menu-item(ng-click="crudListLoader.sort='"+header+"';crudListLoader.order=1;showList();",ng-class="{'active':crudListLoader.sort=='"+header+"' && crudListLoader.order=='1'}")
										span(class="fa fa-sort-amount-asc") &nbsp;
										= i18n("schemas."+schema.id+".headers."+header)
								li
									.menu-item(ng-click="crudListLoader.sort='"+header+"';crudListLoader.order=-1;showList();",ng-class="{'active':crudListLoader.sort=='"+header+"' && crudListLoader.order=='1'}")
										span(class="fa fa-sort-amount-desc") &nbsp;
										= i18n("schemas."+schema.id+".headers."+header)
		.field
			.input
				button(type="button")
					span(class="fa fa-plus") &nbsp;
					= i18n("crud.actions.new")

mixin crudList(schema)
	//+formtable
	.crudLister
		table(class="table")
			thead
				tr
					each header in schema.headers
						th(ng-class="{'active':crudListLoader.sort=='"+header+"'}")
							span(class="ng-hide fa fa-sort-amount-asc", ng-show="crudListLoader.sort=='"+header+"' && crudListLoader.order==1") &nbsp;
							span(class="ng-hide fa fa-sort-amount-desc", ng-show="crudListLoader.sort=='"+header+"' && crudListLoader.order==-1") &nbsp;
							= i18n("schemas."+schema.id+".headers."+header)
					th.corner &nbsp;

			tbody
				tr(ng-repeat="record in crudListLoader.list")
					each header in schema.headers
						td="{{record."+header+"}}"
					td
						a(href="#/edit/{{record._id}}",class="button bg-action", role="button")
							span(class="fa fa-pencil")
							= " "+i18n("crud.list.edit")
						button(class="bg-danger", type='button', ng-click="removeRecord(record._id)")
							span(class="fa fa-times")
							= " "+i18n("crud.list.remove")
			tfoot
				tr
					td(colspan=schema.headers.length+1)
						div(class="loader")
							div(class="msg msg-icon bg-danger",ng-hide="!crudListLoader.error")= i18n("crud.errors.crudListLoader")

							button(class="bg-action loadnext", type='button', ng-click="crudListLoader.next();", ng-hide="crudListLoader.end || crudListLoader.loader.running")
								span(class="fa fa-forward")
								= " "+i18n("crud.actions.nextskip")
							
							div(class="msg loading bg-info",ng-hide="!crudListLoader.loader.running")
								.fa.fa-spinner.fa-spin
								= i18n("crud.loading")

							div(class="progress sending",ng-hide="crudListLoader.loader.sending==0 || !crudListLoader.loader.running")
								span(style="width:{{crudListLoader.loader.sending}}%;")
									span
										span(class="fa fa-upload")
										= i18n("crud.sending")+" {{crudListLoader.loader.sending}}%"
							div(class="progress receiving",ng-hide="crudListLoader.loader.receiving==0 || !crudListLoader.loader.running")
								span(style="width:{{crudListLoader.loader.receiving}}%;")
									span
										span(class="fa fa-download")
										= i18n("crud.receiving")+" {{crudListLoader.loader.receiving}}%"

mixin crudEntity(schema)
	//{{crudEntityFormInputs()}}

	div(class="loader")
		div(class="msg msg-icon bg-danger",ng-hide="!crudEntityLoader.error")= i18n("crud.errors.crudEntityLoader")
		
		div(class="msg loading bg-info",ng-hide="!crudEntityLoader.loader.running")
			.fa.fa-spinner.fa-spin
			= i18n("crud.loading")

		div(class="progress sending",ng-hide="crudEntityLoader.loader.sending==0 || !crudEntityLoader.loader.running")
			span(style="width:{{crudEntityLoader.loader.sending}}%;")
				span
					span(class="fa fa-upload")
					= i18n("crud.sending")+" {{crudEntityLoader.loader.sending}}%"
		div(class="progress receiving",ng-hide="crudEntityLoader.loader.receiving==0 || !crudEntityLoader.loader.running")
			span(style="width:{{crudEntityLoader.loader.receiving}}%;")
				span
					span(class="fa fa-download")
					= i18n("crud.receiving")+" {{crudEntityLoader.loader.receiving}}%"

	form(id="crudEntityForm", ng-submit="sendForm()", name="crudEntityForm", ng-hide="crudEntityLoader.loader.running")
		fieldset
			legend
				h3.text-primary= i18n("schemas."+schema.id+".title")
					small= " "+i18n("schemas."+schema.id+".details",{_default:""})

			button(ng-click="crudEntityUpdate()") Enviar

			div {{crudEntityForm.$dirty}}

			div.unseters.ng-hide
				input(ng-repeat="(nstk,nst) in nstlist",ng-value="nst",name="unset[{{nstk}}]")

			.form-table
				each field in schema.fields
					+field(field)

doctype html
html(lang=gw.language,ng-app="PillarsCRUD")
	head
		title= i18n("schemas."+schema.id+".title")
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel='stylesheet', type='text/css', href='/pillars/css/normalize.css')
		link(rel='stylesheet', type='text/css', href='/pillars/css/pillars.css')
		link(rel='stylesheet', type='text/css', href='/pillars/css/pillarsCRUD.css')

	body
		#space
			#top
				header#header
					a(id="brand",href="#") Pillars
					div(id="user",class="dropdown-toggle-hover")
						img(id="user-img",src="/pillars/img/user.jpg")
						div(id="user-info")
							div(id="user-name")= gw.user.firstname+" "+gw.user.lastname+" {{env.lang}}"
						ul(id="user-options",class="dropdown dropdown-right menu")
							li
								a(href="#") Preferences
								ul
									li
										a(href="#") Option A
									li
										a(href="#") Option B
							li
								a(href="#") Exit
			#bottom
				#left
					#navigation
						h2.nav-title i18n("backend.navigation-title")
						nav
							ul
								li
									a(href="#") System
								li
									a(href="#") Users
								li
									a(href="#") System
								li
									a(href="#") Users
								li
									a(href="#") System
								li
									a(href="#") Users
								li
									a(href="#") System
								li
									a(href="#") Users
								li
									a(href="#") System
								li
									a(href="#") Users
								li
									a(href="#") System
								li
									a(href="#") Users
				#right
					#view
						#view-top
							#view-header
								ol#breadcrumb
									li
										a(href="#")= i18n("crud.home")
									li
										a(href="#")= i18n("crud.admin")
								#view-title= i18n("schemas."+schema.id+".h1")

								#actions
									+crudListActions


						#view-bottom
							div(id="view-body",ng-view)

		script(type="text/ng-template", id="crudList.html")
			+crudList(schema)
		script(type="text/ng-template", id="crudEntity.html")
			+crudEntity(schema)

		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic')
		link(rel="stylesheet", type='text/css', href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='https://code.angularjs.org/snapshot/angular.min.js')
		script(src='https://code.angularjs.org/snapshot/i18n/angular-locale_'+gw.language+'.js')
		script(src='https://code.angularjs.org/snapshot/angular-route.min.js')
		//script(src='https://code.angularjs.org/snapshot/angular-animate.min.js')
		//script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
		script(src='/pillars/js/kinetic-v5.1.0.min.js')
		script(src='/pillars/js/wysihtml5-advanced.js')
		script(src='/pillars/js/wysihtml5-0.4.0pre.js')

		script(src='/pillars/ng/classes.js')
		script(src='/pillars/ng/services.js')
		script(src='/pillars/ng/controllers.js')
		script(src='/pillars/ng/filters.js')
		script(src='/pillars/ng/directives.js')
		script(type='text/javascript').
			angular.module('PillarsCRUD', [
				'ngRoute',
				'Pillars.filters',
				'Pillars.services',
				'Pillars.directives',
				'Pillars.controllers'
			])
				.config(['$routeProvider', function($routeProvider) {
					$routeProvider
						.when('/', {
							controller:'crudList',
							templateUrl:'crudList.html'
						})
						.when('/edit/:_id', {
							controller:'crudUpdate',
							templateUrl:'crudEntity.html'
						})
						.when('/new', {
							controller:'crudInsert',
							templateUrl:'crudEntity.html'
						})
						.otherwise({
							redirectTo:'/'
						});
				}])
				.run(function ($rootScope) {
					$rootScope.env = {
						apiurl : 'http://#{gw.host}:3001#{gw.pillar.path}/api',
						lang : '#{gw.language}',
						langlist : ['#{gw.textualization.langs.join("','")}']
					}
				})
			;





