doctype html
html(lang=gw.language)
	head
		title="login"
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/pillars.css')
		//link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')

	body
		#space.container
			header#header
				h1="login"
			#page
				if msg
					div(class="msg")=msg

				form()
					if redirect
					input(type="text",value=redirect,name="redirect")
					input(type="text",name="user")
					input(type="text",name="password")
					input(type="submit",value="Send")
				
			footer#footer