doctype html
html(lang=gw.language)
	head
		title= t12n("static.title",{path:path})
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel='stylesheet', type='text/css', href='/pillars/css/normalize.css')
		link(rel='stylesheet', type='text/css', href='/pillars/css/pillars.css')

	body
		#space.container
			header#header
				h1=h1
			#page
				if data.length==0
					p empty directory
				if path!=path.replace(/[^\\\/]*$/,'')
					a(href=path.replace(/[^\\\/]*$/,'')) ../
				hr
				each file, key in data
					if !/^\./i.test(file)
						a(href=path+'/'+file)=file
						hr
				if trace
					.trace
						hr
						pre=trace
			footer#footer