doctype html
html(lang=gw.language)
	head
		title="Directory - "+path
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/pillars.css')
		//link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')

	body
		#space.container
			header#header
				h1=h1
			#page
				if data.length==0
					p empty directory
				if path!=path.replace(/[^\\\/]*$/,'')
					a(href=path.replace(/[^\\\/]*$/,'')) ../
				hr
				each file, key in data
					if !/^\./i.test(file)
						a(href=path+'/'+file)=file
						hr
				if trace
					.trace
						hr
						pre=trace
			footer#footer