doctype html
html(lang=gw.language)
	head
		title= i18n("static.title",{path:path})
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')

	body
		.container
			header#header
				h1=i18n("static.h1",{path:path})
			#page
				if files.length==0
					p empty directory
				if path!=path.replace(/[^\\\/]*$/,'')
					a(href=path.replace(/[^\\\/]*$/,'')) ../
				hr
				each file, key in files
					if /^\./i.test(file)
						a(href=path+'/'+file,class="help-block")=file
					else
						a(href=path+'/'+file)=file
					hr
			footer#footer