mixin base(title,path)
	head
		title=title
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="shortcut icon", type="image/png", href="/pillars/docs/img/favicon-pillarsjs.png")
		link(rel="stylesheet", type="text/css", href="/pillars/css/pillarsDocs.css")
		link(rel="stylesheet", type="text/css", href="/pillars/css/pillarsForms.css")
		script.
			(function(t){function e(t,e){var n,a,r;return a=!1,"function"==typeof t?(t(),e(),!0):(r=t.replace(/\?.*$/i,"").split(".").pop(),"js"==r?(n=document.createElement("script"),n.type="text/javascript",n.src=t):(n=document.createElement("link"),n.rel="stylesheet",n.type="text/css",n.href=t),n.onload=n.onreadystatechange=function(){a||this.readyState&&"complete"!=this.readyState||(a=!0,e())},void document.getElementsByTagName("head")[0].appendChild(n))}function n(){var t=this,e=[];t.data={},t.add=function(n){var a=Array.prototype.slice.call(arguments).slice(1);return e.push({func:n,args:a}),t},t.pull=function(){e.length>0&&e[0].func.apply(t,e[0].args)},t.next=function(){e.shift(),t.pull()}}function a(){var t=this,e=[],n=0;t.data={},t.add=function(n){var a=Array.prototype.slice.call(arguments).slice(1);return e.push({func:n,args:a}),t},t.pull=function(){for(var n=0,a=e.length;a>n;n++)e[n].func.apply(t,e[n].args)},t.done=function(){n++,e.length===n&&"function"==typeof t.finish&&t.finish()}}var r=!1;document.onload=document.onreadystatechange=function(){if(!(r||this.readyState&&"complete"!=this.readyState)){for(var o=new n,c=function(t){for(var n=new a,r=0,c=t.length;c>r;r++)n.add(e,t[r],n.done);n.finish=o.next,n.pull()},i=0,l=t.length;l>i;i++)o.add(c,t[i]);o.pull()}}})([
				[
					'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js',
					'/pillars/docs/js/highlight/styles/monokai.css'
				],[
					function(){
						var mainmenu = $('#mainmenu');
						var swrp = $('<div class="select"></div>');
						var select = $('<select onchange="window.open(this.value, \'_self\');"></select>');
						swrp.append(select);
						$('h2',mainmenu).after(swrp);
						$('a',mainmenu).each(function(i,e){
							var e = $(e);
							var lvl = e.parents('ul').length;
							var href = e.attr('href');
							var selected = window.location.pathname.indexOf(href)===0?' selected="selected" ':'';
							var space = '';
							if(lvl>1){
								for(var i=1;i<lvl;i++){
									space+='-';
								}
								space+='&nbsp;';
							}
							select.append('<option value="'+href+'"'+selected+'>'+space+e.text()+'</option>');
						});
					},
					function(){
						var scopelinks = $('#scopelinks');
						var swrp = $('<div class="select"></div>');
						var select = $('<select onchange="window.open(this.value, \'_self\');"></select>');
						swrp.append(select);
						//$('h2',scopelinks).after(swrp);
						$('#selectnav').append(swrp);
						$('a',scopelinks).each(function(i,e){
							var e = $(e);
							var lvl = e.parents('ul').length;
							var href = e.attr('href');
							var selected = (window.location.pathname).indexOf(href)===0?' selected="selected" ':'';
							var space = '';
							if(lvl>1){
								for(var i=1;i<lvl;i++){
									space+='-';
								}
								space+='&nbsp;';
							}
							select.append('<option value="'+href+'"'+selected+'>'+space+e.text()+'</option>');
						});
					},
					function(){
						var TOC = $('#TOC');
						var swrp = $('<div class="select"></div>');
						var select = $('<select onchange="window.open(this.value, \'_self\');"></select>');
						var ul = $('<ul></ul>');
						swrp.append(select);
						TOC.append('<h2>Table of contents</h2>');
						//TOC.append(swrp);
						$('#selectnav').append(swrp);
						TOC.append(ul);
						var last = false;
						var count = 0;
						$('#contents h2, #contents h3').each(function(i,e){
							count++;
							var e = $(e);
							var t = e.prop('tagName').toLowerCase();
							var href = '#'+e.attr('id');
							var selected = (window.location.hash).indexOf(href)===0?' selected="selected" ':'';
							var space = '';
							if(t=='h2'){
								last = $('<li></li>');
								last.append('<a href="'+href+'">'+e.html()+'</a>');
								ul.append(last);
							} else {
								if(!last.has( "ul" ).length){
									last.append('<ul></ul>');
								}
								$('ul',last).append('<li><a href="'+href+'">'+e.html()+'</a></li>');
								space = '- ';
							}
							select.append('<option value="'+href+'"'+selected+'>'+space+e.text()+'</option>');
						});
						if(!count){
							TOC.hide();
						}
					},
					function(){
						var w = $(window);
						var tt = $("#totop");
						w.on('scroll',function(event){
							if(w.scrollTop()>50){
								tt.fadeIn();
							} else {
								tt.fadeOut();
							}
						});
					}
				]
			]);


	body
		#space
			header#header
				a#logo Pillars.js - make it easy!
				nav#mainmenu
					h2 Main menu
					ul
						li: a(href="/pillars/docs/") Portada
						li: a(href="/pillars/docs/reference/") Referencia
						li: a(href="/pillars/docs/tutorials/") Tutoriales
						li: a(href="#") Contacto

				nav#social
					h2 Social links
					ul
						li: a.github(href="https://github.com/bifuer/pillars") Github
						li: a.twitter(href="https://twitter.com/PillarsJS") Twitter
						//li: a.gplus(href="#") Google+

			if path
				nav#breadcrumbs
					ul
						each d in path
							li: a(href=d.url)=d.label

			#selectnav
			#main
				block


			#totop
				a(href="#header") Volver arriba

			footer#footer
				.logo Pillars.js - make it easy!
				.legal
					.phrase Pillars.js is a modular and scalable framework for web development in Node.js
					.copyright ©2015 Javier Gallego Martín & Chelo Quilón (Just Married) & individual contributors
					.license MIT license


mixin layout(title,path)
	+base(title,path)
		#contents
			block

mixin reference-layout(title,path)
	+base(title,path)
		#leftbar.sidebar
			nav#scopelinks
				h2 Reference index
				ul
					li: a(href="/pillars/docs/reference/introduccion.jade") Introducción
					li: a(href="/pillars/docs/reference/entorno.jade") Entorno
					li: a(href="/pillars/docs/reference/route.jade") Clase Route
					li: a(href="/pillars/docs/reference/gangway.jade") Objeto Gangway
					li: a(href="/pillars/docs/reference/plugin.jade") Clase Plugin
					li
						a(href="#") Librerías
						ul
							li: a(target="_blank" href="https://github.com/bifuer/JSON.decycled") JSON.decycled
							li: a(target="_blank" href="https://github.com/bifuer/String.format") String.format
							li: a(target="_blank" href="https://github.com/bifuer/Date.format") Date.format 
							li: a(href="/pillars/docs/reference/procedure.jade") procedure
							li: a(href="/pillars/docs/reference/scheduled.jade") scheduled
							li: a(href="/pillars/docs/reference/t12n.jade") textualization
							li: a(href="/pillars/docs/reference/crier.jade") crier
							li: a(target="_blank" href="https://github.com/bifuer/ObjectArray") ObjectArray
							li: a(href="/pillars/docs/reference/templated.jade") templated
							li: a(href="/pillars/docs/reference/jailer.jade") jailer
							li: a(href="/pillars/docs/reference/modelator.jade") Modelator
					li: a(href="/pillars/docs/reference/plugins.jade") Plugins en Pillars.js

		#contents
			block

		#rightbar.sidebar
			nav#TOC



mixin tutorial-layout(title,path)
	+base(title,path)
		#sidebar

			nav#TOC
			
			nav#scopelinks
				h2 Tutorial index
				ul
					li: a(href="/pillars/docs/tutorials/instalacion.jade") Instalación
					li: a(href="/pillars/docs/tutorials/index.jade") Hola Mundo
					li: a(href="/pillars/docs/tutorials/configuracion-entorno.jade") Configuración de ENV
					li: a(href="/pillars/docs/tutorials/enrutado.jade") Enrutado
					li: a(href="/pillars/docs/tutorials/client-server.jade") Peticiones HTTP
					li: a(href="/pillars/docs/tutorials/server-client.jade") Envío datos Servidor-Cliente
					li: a(href="/pillars/docs/tutorials/xx.jade") Cookies
					li: a(href="/pillars/docs/tutorials/xx.jade") Sesiones
					li: a(href="/pillars/docs/tutorials/https.jade") HTTPS
					li: a(href="/pillars/docs/tutorials/xx.jade") Autenticación de usuarios
					li: a(href="/pillars/docs/tutorials/xx.jade") Conexión a base de datos
					li: a(href="/pillars/docs/tutorials/xx.jade") Templating
					li: a(href="/pillars/docs/tutorials/i18n.jade") Internacionalización
					li: a(href="/pillars/docs/tutorials/xx.jade") CRUD
					li: a(href="/pillars/docs/tutorials/xx.jade") Streaming
					li: a(href="/pillars/docs/tutorials/xx.jade") Envío de ficheros de gran tamaño
					li: a(href="/pillars/docs/tutorials/xx.jade") Tareas Programadas
					li: a(href="/pillars/docs/tutorials/xx.jade") Sistema de Logs
					li: a(href="/pillars/docs/tutorials/xx.jade") Envío correos electrónicos


			
		#contents
			block